[submodule "themes/simple-dark"]
	path = themes/simple-dark
	url = https://github.com/MichaelSchaecher/simple-dark.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
