<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-US" }}">
  <head>
    <meta charset="utf-8">
    {{ partial "CSP.html" . }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.author }}">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . | plainify | truncate 160 }}{{ else }}{{ if .IsPage }}{{ with .Params.summary }}{{ . | plainify | truncate 160 }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}{{ else }}{{ .Site.Params.description | plainify | truncate 160 }}{{ end }}{{ end }}">

    <link rel="icon" type="image/webp" href="{{ .Site.Params.avatar }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;800&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "css/electric-gerbil-theme.css" | relURL }}">
    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ . | relURL }}">
    {{ end }}

    {{- if site.Config.Services.GoogleAnalytics.ID }}
      {{ template "_internal/google_analytics.html" . }}
    {{- end }}
  </head>
  <body>
    {{ partial "eg-header.html" . }}
    <main id="content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "eg-footer.html" . }}
    {{ range .Site.Params.custom_js }}
      <script src="{{ . | relURL }}?v=20260324b"></script>
    {{ end }}
  </body>
</html>
