{{ $id := .id }}
{{ $class := .class | default "carousel" }}
{{ $items := .items | default "1" }}
{{ $height := .height | default "500" }}
{{ $unit := .unit | default "px" }}
{{ $duration := .duration }}
{{ $autoDurationVideo := .autoDurationVideo | default "false" }}
{{ $videoAutoplay := .videoAutoplay | default "true" }}
{{ $videoLoop := .videoLoop | default "true" }}
{{ $videoMuted := .videoMuted | default "true" }}
{{ $slides := .slides | default (slice) }}
<div id="{{ $id }}" class="{{ $class }}" {{ with $duration }}duration="{{ . }}"{{ end }} auto-duration-video="{{ $autoDurationVideo }}">
  <ul>
    {{- range $index, $slide := $slides }}
      {{ $resource := index $slide "resource" }}
      {{ $kind := index $slide "kind" }}
      <li id="{{ $id }}_slide{{ add $index 1 }}" style="min-width: calc(100%/{{ $items }}); padding-bottom: {{ $height }}{{ $unit }};">
        {{- if eq $kind "video" }}
          <video preload="auto" playsinline {{ if eq $videoAutoplay "true" }}autoplay {{ end }}{{ if eq $videoLoop "true" }}loop {{ end }}{{ if eq $videoMuted "true" }}muted {{ end }} >
            <source src="{{ $resource.RelPermalink }}" type="{{ $resource.MediaType.Type }}">
          </video>
        {{- else }}
          <img src="{{ $resource.RelPermalink }}" alt="{{ $resource.Name }}" />
        {{- end }}
        <div><div></div></div>
      </li>
    {{- end }}
  </ul>
  <ol aria-label="Carousel slide navigation">
    {{- range $index, $_ := $slides }}
      <li><a href="#{{ $id }}_slide{{ add $index 1 }}" aria-label="Go to slide {{ add $index 1 }}"></a></li>
    {{- end }}
  </ol>
  <button class="prev" type="button" aria-label="Previous slide">&lsaquo;</button>
  <button class="next" type="button" aria-label="Next slide">&rsaquo;</button>
</div>
